<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <div id="app">
        <%- include('partials/login') %>
        <%- include('partials/main-app') %>
        <%- include('partials/modals') %>
    </div>
    
    <%- include('partials/scripts') %>
</body>
</html>